<%- include('partials/header') %>
    <main class="projects">
        <% projects.forEach(project => { %>
            
            <% if (project.category === "programming") { %>
                <div class="programming">
                    <h4><%= project.title %></h4>
                    <p><%= project.description %></p>
                    <p>Software Used: <%= project.software.join(", ") %></p>
                    <p>Date: <%= project.date %></p>
                    <a href="<%= project.link %>" target="_blank">View GitHub</a>
                </div>
            <% } else { %>
                <div>
                    <h4><%= project.title %></h4>
                    <img src="<%= project.image %>" alt="<%= project.title %>">
                    <a href="/<%= project.category %>/<%= project.id %>">View Details</a>
                </div>
            <% } %>
            
        <% }); %>
    </main>
<%- include('partials/footer') %>
